*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}


/* ----- NAVIGATION ----- */

.container-nav {
    position: sticky;
    top: 0;
}

.nav {
    padding: 20px;
    background-color: #FFE6E6;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

.nav-link {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 15px;
}

.nav-link:hover {
    color: #A685E2;
}

.button-nav {
    text-decoration: none;
    background-color: #A685E2;
    border-radius: 15px;
    padding: 8px 20px;
    color: white;
    transition: 0.2s;
}

/* BOTONES CON HOVER */

.is-hover:hover {
    background-color: #6155A6;
}

/* BOTONES CON FOCUS */

.is-focus:focus {
    box-shadow: 0px 0px 10px #A685E2;
}

/* ----- SECTION "HOLA" ----- */
/* CONTENEDORES FLEXIBLES */
.flexible-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralized-container {
    display: flex;
    justify-content: center;
}
/*--------------------------------------*/

.container-hello {
    height: calc(100vh - 59px);
    align-items: center;
}

.container-presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hello-title {
    font-weight: 600;
    font-size: 3.1rem;
}

span {
    display: block;
    font-size: 4.3rem;
    font-weight: 800;
    color: #ffabe1;
}

.hello-description {
    font-size: 1.8rem;
    margin: 20px 0;
}

.button-projects {
    text-decoration: none;
    background-color: #A685E2;
    border-radius: 15px;
    padding: 10px 30px;
    color: white;
    transition: 0.2s;
}

.container-helloimg {
    width: 400px;
    height: 400px;
    margin-left: 30px;
}

.hello-img {
    width: 100%;
}

/* ----- SECTION "CONOCIMIENTOS" ----- */
.section-knowledge {
    padding: 210px 0;
    background-color: #ffabe1;
}

.knowledge-container {
    width: 900px;
}

.knowledge-title {
    font-size: 2.8rem;
    font-weight: 800;
}

.container-description {
    margin: 10px;
    width: 30%;
    text-align: center;
}

.container-cards {
    flex-wrap: wrap;
    margin: 50px;
}

.card {
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: white;
    margin: 20px;
    width: 220px;
    height: 270px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border: 2px solid #ffabe200;
    border-radius: 10px;
}

.icon-card {
    font-size: 4.6rem;
    padding: 10px;
}

.card:hover {
    border: 2px solid #A685E2;
    color: #6155A6;
}

.fa-html5 {
    color: #e54d26;
}

.fa-css3-alt {
    color: #3d8fc6;
}

.fa-sass {
    color: #cc6699;
}

.fa-square-js {
    color: #f0db4f;
}

.fa-react {
    color: #61dafb;
}

.fa-git-alt {
    color: #f34f29;
}

/* ----- SECTION "CITA" ----- */

.citation {
    background-color:  #A685E2;
    padding: 80px;
    color: white;
}

.icon-citation {
    font-size: 5rem;
    padding: 50px;
}

.description-citation {
    font-size: 1.3rem;
    width: 40%;
    text-align: center;
}

.mention-citation {
    margin: 30px;
    padding: 20px;
    font-size: 1.75rem;
    font-weight: 800;
    font-style: italic;
}

/* ----- SECTION "MIS PROYECTOS" ----- */
.container-projects {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    width: 1090px;
}

.title-project {
    font-size: 3.1rem;
    text-align: center;
    margin: 55px;
    color: black;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.target-project {
    justify-content: center;
    margin: 5px;
    background-color: #f2eaf6;
    border-radius: 10px;
    border: 1px solid #ffabe200;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.target-project:hover {
    border: 1px solid #A685E2;
}


.link-project {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 1rem;
    padding: 15px;
    color: black;
    font-weight: 500;
    border-radius: 10px;
}

.link-project:hover {
    color: #6155A6;
}

.container-project-img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.name-project {
    margin: 20px 0;
}

.img-project {
    width: 100%;
    margin: 5px;
}

/* ----- SECTION "CONTACTO" -----*/

.container-contact {
    margin: 130px 0;
}

.container-targets {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 60%;
    margin: 70px;
    padding: 50px;
    border-radius: 10px;
}

.target-contact {
    width: 60%;
}

.title-contact {
    font-size: 2.8rem;
    font-weight: 800;
    margin: 20px 0;
}

.contact-description {
    margin: 20px;
    width: 70%;
}

.container-redes {
    display: flex;
    flex-direction: column;
}

.contactos {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    border-radius: 30px;
    width: fit-content;
}

.contactos:hover {
    color: #6155A6;
}

.icons-contact {
    color: #a685e2;
    margin: 0 10px;
    padding: 10px;
    border-radius: 30px;
    font-size: 1.12rem;
}

.contactos:hover .icons-contact {
    background-color: #6155A6;
    color: white;
}


.form-contact {
    display: flex;
    flex-direction: column;
}

.container-full-name {
    display: flex;
}

.form-full-name {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin: 5px 0;
}

.form-box {
    border: 0;
    border-radius: 30px;
    padding: 10px;
    margin: 5px 5px 5px 0;
    outline: none;
}

.form-box:valid:focus {
    border: 1px solid #88c468;
}

.form-box:invalid:focus {
    border: 1px solid #f54154;
}

.message-contact {
    border: 0;
    outline: none;
    resize: none;
    border-radius: 30px;
    padding: 15px;
}

.button-contact {
    font-size: 0.9rem;
    background-color: #a685e2;
    border: 0;
    padding: 15px 30px;
    border-radius: 30px;
    color: white;
    margin: 15px;
    cursor: pointer;
    transition: 0.2s;
}

/* ----- SECTION FOOTER ----- */

.container-footer {
    background-color: #6155A6;
    padding: 50px;
    text-align: center;
}

.link-footer {
    margin: 10px;
    color: #FFE6E6;
    text-decoration: none;
    font-size: 14px;
}

.icons-container {
    margin: 30px 10px;
}

.footer-social {
    border-radius: 50%;
    text-decoration: none;
    margin: 8px;
}

.icons-footer {
    padding: 11px 12px;
    border: 1px solid #6155A6;
    border-radius: 50%;
    color: #ffabe1;
    font-size: 18px;
    background-color: #f2eaf6;
    transition: 0.2s;
}

.icons-footer:hover {
    color: white;
    border: 1px solid white;
}

/* ----- MOBILE ----- */

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
/* NAVIGATION */
    .container-nav {
        display: none;
    }
/* SECTION "HOLA" */
    .container-hello {
        flex-direction: column;
        height: 100vh;
        margin: 20px 10px;
    }

    .container-presentation {
        align-items: center;
        text-align: center;
    }

    .container-helloimg {
        width: 200px;
        height: 200px;
    }
/* SECTION CONOCIMIENTOS */
    .section-knowledge {
        padding: 100px 0;
    }

    .knowledge-title {
        text-align: center;
    }

    .container-cards {
        margin: 0;
    }

    .card {
        width: 200px;
        height: 150px;
        margin: 8px;
    }
/* SECTION "CITA" */
    .citation {
        padding: 60px 0;
    }

    .description-citation {
        width: 80%;
    }
    
    .mention-citation {
        margin: 20px 0;
    }
/* SECTION "MIS PROYECTOS" */
    .container-description {
        width: 90%;
    }

    .projects {
        justify-content: center;
    }

    .target-project {
        margin: 15px 0;
    }

    .container-project-img {
        width: 200px;
    }
/* SECTION "CONTACTO" */
    .container-contact {
        margin: 50px 0;
    }

    .container-targets {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 95%;
        box-shadow: none;
    }

    .target-contact {
        padding: 10px;
        width: 100%;
    }
    .contact-description {
        margin: 0;
        width: 100%;
    }

    .contactos {
        margin: 0;
        padding: 0;
    }

    .icons-contact {
        padding: 10px 2px;
        margin: 0 10px 0 0;
    }

    .container-full-name {
        flex-direction: column;
    }
/* SECTION "FOOTER" */
    .nav-footer {
        display: none;
    }
}

/* ----- TABLETS / iPADS ----- */

@media (min-width: 481px) and (max-width: 768px) {
    html {
        font-size: 13px;
    }

    .container-nav {
        display: none;
    }

    .container-hello {
        flex-direction: column;
        height: 100vh;
        margin: 20px 0;
    }

    .container-presentation {
        align-items: center;
        text-align: center;
    }

    .container-helloimg {
        margin: 0;
    }

    .section-knowledge {
        padding: 150px 0;
    }

    .knowledge-title {
        text-align: center;
    }

    .container-cards {
        width: 100%;
        margin: 10px 0;
    }

    .card {
        width: 200px;
        height: 200px;
        margin: 10px;
    }

    .citation {
        padding: 80px 0;
    }

    .container-description {
        width: 90%;
    }

    
    .projects {
        justify-content: center;
    }

    .target-project {
        margin: 15px;
    }

    .container-project-img {
        width: 350px;
        height: 250px;
    }

    .container-contact {
        margin: 50px 0;
    }

    .container-targets {
        flex-direction: column;
        margin: 0;
        width: 95%;
        box-shadow: none;
    }

    .target-contact {
        padding: 10px;
        width: 90%;
    }

    .container-full-name {
        width: 80%;
        justify-content: space-between;
    }
}

/* ----- LAPTOPS ----- */
@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 14px;
    }

    .container-nav {
        display: none;
    }

    .container-hello {
        flex-direction: column;
        height: 100vh;
    }

    .container-presentation {
        align-items: center;
        text-align: center;
    }

    .container-helloimg {
        margin: 0;
    }

    .section-knowledge {
        padding: 190px 0;
    }

    .knowledge-title {
        text-align: center;
    }

    .container-cards {
        width: 90%;
        margin: 30px 0;
    }

    .card {
        width: 210px;
        height: 230px;
        margin: 10px;
    }

    .citation {
        padding: 80px 0;
    }

    .container-description {
        width: 90%;
    }

    .container-projects {
        width: 768px;
    }

    .target-project {
        margin: 15px;
    }

    .container-contact {
        margin: 50px 0;
    }

    .container-targets {
        flex-direction: column;
        margin: 0;
        width: 95%;
    }

    .target-contact {
        padding: 30px;
        width: 90%;
    }

    .container-full-name {
        width: 60%;
        justify-content: space-between;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {

    .container-presentation {
        margin: 0 20px;
    }

    .description-citation {
        width: 60%;
    }

    .container-description {
        width: 70%;
    }

    .container-projects {
        width: 945px;
    }

    .container-project-img {
        width: 250px;
    }

    .container-targets {
        width: 80%;
    }
}